<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6455673049503523"
     crossorigin="anonymous"></script>
<!-- bloco -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6455673049503523"
     data-ad-slot="9979445725"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<footer>
  <p>&copy; 2022 - {{ 'now' | date: "%Y" }} | {{site.title}}</p>
  <!-- <script>

        // requisicoes web 
        fetch("https://servicodados.ibge.gov.br/api/v3/noticias/?busca=fii")
        // .then - para sucesso
        // .catch - para erro
        .then(response => {
            response.json().then(data => console.log(data));
        })
        .catch(error => console.log("error: ", error))

  </script> -->
</footer>
<script src="{{site.baseurl}}/assets/js/mode.js" defer></script>
